.accordion {
  width: 100%;
  border-radius: var(--border-radius-small);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-medium);

  background-color: var(--primary-Color);
  border-top-left-radius: var(--border-radius-small);
  border-top-right-radius: var(--border-radius-small);
}

.header:hover {
  cursor: pointer;
  opacity: 0.8;
}

.toggleIcon {
  font-size: var(--medium-font-size);
  font-weight: bold;
}
.descriptionWrapper {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.4s linear;
}

.descriptionWrapper.open {
  max-height: 500px;
  overflow-y: auto;
}

.description {
  padding: var(--space-medium);
  background-color: var(--secondary-color);
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
}

.borderRadiusBottom {
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
  transition: border-bottom-left-radius 0.4s linear;
  transition: border-bottom-right-radius 0.4s linear;
}
