* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
}

li {
  list-style: none;
}

:root {
  --primary-color: #4facfe;
  --secondary-color: #00f2fe;
  --card-background: linear-gradient(0deg, #002eff 0%, #131313 100%);

  --text-color: #f2f0f0e6;
  --temp-color: #ff5e62;
  --description-color: #777;
  --additional-info-color: #555;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --font-family: "Arial", sans-serif;
  --font-size-location: 1.5em;
  --font-size-temp: 3em;
  --font-size-description: 1.2em;
  --font-size-additional-info: 1em;
  --font-size-mobile-location: 1.2em;
  --font-size-mobile-temp: 2.5em;
  --font-size-mobile-description: 1em;
  --max-width: 600px;

  --background-color: linear-gradient(to right, #6a11cb, #2575fc);
  /* --primary-Color: #f3f6f9;
  --secondary-color: #b399d4;
  --hover-color: #8a68b4;
  --text-color: #333333;
  --border-color: grey; */
  --error-color: orangered;

  --spinner-gradient: linear-gradient(
    90deg,
    rgba(18, 36, 224, 1) 0%,
    rgba(98, 8, 69, 1) 100%
  );

  /* Fonts */
  --base-font-size: 1rem;
  --medium-font-size: 1.5rem;
  --large-font-size: 2rem;
  --xlarge-font-size: 3rem;

  /* Spacing */
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 2rem;
  --space-x-large: 4rem;

  /* Border Radius */
  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 1rem;
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url("/fonts/BebasNeue-Regular.ttf");
}
